
  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    height: 100vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    background-image: url('bg1.jpg');
    
   
}
h1{
   
    color:rgb(0, 0, 0);
    margin-top: 420px;
}
table{
    margin:auto;
    margin-top: 15px;
}
th{
    color: rgb(23, 20, 26);
    font-size: 21px;
}
input{
    font-size: 22px;
    padding: 5px;
    border-radius: 8px;
}
button{
    min-width: 120px;
    margin: 20px 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(255, 255, 255),pink);
    font-weight: 600;
}
button:hover{
    cursor: pointer;
}

.Countdown{
    display:flex;
    justify-content: center;

}
.heading{
    color: rgb(255, 255, 255);
    font-size: 21px;
    text-transform: uppercase;
}
.time{
    background-image: linear-gradient(rgb(252, 173, 186),black);
    color: rgb(255, 255, 255);
    font-size: 100px;
    width: 150px;
    margin: 0 10px;
    border-radius: 8px;
}
.hello{
   color: chartreuse;
   margin-top: 210px;
}
@media(max-width:1000px){
    .time{
        margin: 0 1px;
        width: 130px;
    }  
}
@media(max-width:1000px){
    .Countdown{
        flex-wrap: wrap;
    }   
    .time{
        margin: 15px 2px;
        
    }
    h1{
        font-size: 30px;
        color:rgb(0, 0, 0);
        margin-top: 300px;
    }
    table{
        margin:auto;
        margin-top: 15px;
    }
    
    input{
        font-size: 17px;
        padding: 3px;
        border-radius: 8px;
    }
    button{
        min-width: 120px;
        margin: 15px 10px;
        padding: 10px;
        font-size: 20px;
        border-radius: 5px;
        background-image: linear-gradient(rgb(255, 255, 255),pink);
        font-weight: 600;
    }

}
